<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.carpark.mappers.CarParkMapper" >

    <resultMap id="nearestResultMap" type="Nearest" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="latitude" property="latitude" jdbcType="DOUBLE" />
        <result column="longitude" property="longitude" jdbcType="DOUBLE" />
        <result column="total_lots" property="totalLots" jdbcType="INTEGER" />
        <result column="available_lots" property="availableLots" jdbcType="INTEGER" />

    </resultMap>

    <select id="search" resultMap="nearestResultMap">
        select
        <include refid="nearestFields"/>
        <include refid="mainLocationNearest"/>
        <include refid="nearestOrder"/>
        limit #{page.offset}, #{page.size}
    </select>

    <sql id="nearestFields">
        cp.x_coord as latitude,
        cp.y_coord as longitude,
        a.total_lots,
        a.available_lots
    </sql>
    
    <select id="count" resultType="int">
        select
        count(*) as total_record
        <include refid="mainLocationNearest"/>
    </select>
    
    <sql id="mainLocationNearest">

        from car_park.car_park cp
        inner join car_park.availability a on cp.id = a.car_park_id

    </sql>

    <sql id="nearestOrder">

    </sql>
    

</mapper>