<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.carpark.mappers.CarParkMapper" >

    <resultMap id="nearestResultMap" type="Nearest" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="latitude" property="latitude" jdbcType="DOUBLE" />
        <result column="longitude" property="longitude" jdbcType="DOUBLE" />
        <result column="total_lots" property="totalLots" jdbcType="INTEGER" />
        <result column="available_lots" property="availableLots" jdbcType="INTEGER" />

    </resultMap>

    <select id="findBy" resultMap="nearestResultMap">
        select
        cp.x_coord as latitude,
        cp.y_coord as longitude,
        a.total_lots,
        a.available_lots
        from car_park.car_park cp
        inner join car_park.availability a on cp.id = a.car_park_id
        where
        cp.x_coord = #{latitude} and cp.y_coord = #{longitude}
    </select>

</mapper>